.login{
    width: 100%;
    max-width: 320px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opacos{
    color: gray;
    text-align: center;
}
.spsLogo{
    width: 80%;
    height: 80%;
}
