#root {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homes{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

:root{
  --bg: white;
  --bg-accent: lightgray;
  --text-color: grey;
  --border: 1px solid lightgray;
  --border-radius: 0px;
  --speed: 500ms;
}

ul{
  list-style: none;
  margin: 0;
  padding:20px;
}

a{
  color: var(--text-color);
  text-decoration: none;
}

.navbar{
  height: 100% !important;
  width:350px;
  max-width: 350px !important;
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}
a{
  text-decoration: none;
  text-emphasis: none;
}
.navbar-nav{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: var(--border);
  padding: 0px;
  padding-left: 20px;
  /*padding-right: 200px;*/
}
.navbar .navbar-nav p{
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.navbar .navbar-nav .nav-item a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-nav p, .nav-item a{
  color:grey;
}
ul p:hover{
  cursor: pointer;
  color: dodgerblue !important;
}
.nav-item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.nav-item a:hover{
  cursor: pointer;
  color: dodgerblue;
}

.nav-item-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-button{
  --button-size: calc(var(-nav-size)*0.5);
    width: 100%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    transition: background var(--speed);
}

.text-button:hover{
  background-color: lightgray;
}
.text-button a{
  text-decoration: none !important;
}

.text-button-image{
  --button-size: calc(var(-nav-size)*0.5);
    width: 100%;
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    text-emphasis: none;
}


.dropdown{
  position: absolute !important;
  /*left: 550px;*/
  width: 300px;
  transform: translateX(102%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  border-bottom: var(--border);

  /*display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;*/
  overflow: hidden;
}

.menus-item{
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover{
  background-color: lightgray;
}

.menu{
  width: 100%;
  height: 100%;
}

.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit{
  position: absolute;
}

.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter{
  transform: translateX(110%);
}

.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit{
  position: static;
}

.menu-secondaryry-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
}